/*
Design by NodeThirtyThree <http://www.nodethirtythree.com>
Published by Free CSS Templates <http://www.freecsstemplates.org/>
Developed by Anthony Licari <http://anthonylicari.com>
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #F4FBFF url(images/img01.jpg) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #405A67;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #4F6977;
}

h1 {
	letter-spacing: -1px;
	font-size: 44px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

p, ul, ol {
	margin: 0 0 1.5em 0;
	line-height: 1.5em;
	text-align: justify;
}

p {
}

blockquote {
	font-style: italic;
}

ul {
}

ul, quote, code, fieldset {
  margin: .5em 0;
}
ul {
  margin: 0.5em 0 1em .5em;
  padding: 0;
}
ul li {
  margin: 0.4em 0 0.4em .5em;
}
ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em;
  padding: 0;
}
ul.menu ul, .item-list ul ul {
  margin-left: 0em;
}
ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 0.15em .5em;
}
ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em 1.5em;
  list-style-type: none;
  list-style-image: none;
  background: transparent url(images/menu-leaf.gif) no-repeat 0 .35em;
}
ul li.expanded {
  background: transparent url(images/menu-expanded.gif) no-repeat 0 .35em;
}
ul li.collapsed {
  background: transparent url(images/menu-collapsed.gif) no-repeat 0 .35em;
}
ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}
ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0;
}

ol {
}

a {
	color: #38B5F1;
}

a:hover {
	text-decoration: none;
}

small {
}

hr {
	display: none;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 15px 0 0;
}

img.right {
	float: left;
	margin: 0 0 0 15px;
}

/* Header */

#header {
	width: 954px;
	height: 183px;
	margin: 0 auto;
	background: url(images/img02.jpg);
}

/* Logo */

#logo {
	float: left;
}

#logo h1, #logo h2 {
	float: left;
	text-transform: lowercase;
	color: #FFFFFF;
}

#logo h1 {
	padding: 115px 0 0 50px;
	font-weight: bold;
}

#logo h2 {
	padding: 143px 0 0 8px;
	font-size: 14px;
	font-weight: bold;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 140px 20px 0 0;
	list-style-type: none;
	line-height: normal;
}

#menu li {
    background: none;
	display: inline;
	padding-left: 0px;
}

#menu a {
	padding: 0 28px 0 0;
	text-transform: lowercase;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 954px;
	margin: 0 auto;
	background: #FFFFFF url(images/img03.jpg) repeat-y;
}

#bg {
	background: url(images/img06.jpg) no-repeat left bottom;
}

/* Content */

#content {
	float: left;
	padding: 35px;
	width: 600px;
	background: url(images/img04.jpg) no-repeat;
}

/* Posts */

.post {
	width: 606px;
	padding: 30px 0 0 48px;
}

.post .title {
	padding: 0 0 0 12px;
}

.post .title a {
	color: #4F6977;
}

.post .date {
	margin: -26px 25px 15px 0;
	text-align: right;
	color: #79AFCD;
}

.post .entry {
	padding: 25px 20px 0 12px;
	background: url(images/img07.jpg) no-repeat;
}

.post .meta {
	padding: 15px 12px;
	background: url(images/img08.jpg) no-repeat left bottom;
}

.post .meta b {
	display: none;
}

.post .more, .post .comments {
	padding: 0 30px 0 20px;
}

.post .more {
	background: url(images/img09.gif) no-repeat left center;
}

.post .comments {
	background: url(images/img10.gif) no-repeat left center;
}

/* About Box */

#mission {
	width: 185px;
	height: 162px;
	padding: 70px 37px 0 35px;
	background: url(images/img11.jpg) no-repeat left bottom;
}

#mission h2 {
	margin-bottom: 25px;
	font-size: 18px;
	font-weight: normal;
}

#mission p {
	font-size: 12px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 274px;
	background: url(images/img05.jpg) no-repeat;
}

#sidebar a {
color: #0483B3;
}
#sidebar ul {
	width: 206px;
	margin: 0;
	padding: 0 0 0 15px;
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
	width: auto;
	padding: 0 15px 0 10px;
}

#sidebar li li {
	padding: 5px 0 5px 0;
	background: url(images/img13.gif) repeat-x;
}

#sidebar li li.first {
	padding-top: 0;
	background: none;
}

#sidebar li h2 {
	font-size: 18px;
	padding: 30px 0 40px 10px;
	background: url(images/img12.jpg) no-repeat left bottom;
}

/* Footer */

#footer {
	padding: 30px 0;
}

#footer p {
	text-align: center;
	font-size: 12px;
	color: #83B3CE;
}

#footer a {
	color: #83B3CE;
}

.block {
background: url(images/blockbot.gif) no-repeat bottom left;
margin-top: 5px;
margin-bottom: 5px;
padding: 5px;
padding-right: 25px;
padding-left: 0px;
}

.blockmid {
background: url(images/blockmid.gif) repeat-y left;
margin-bottom: 13px;
padding: 5px;
padding-right: 25px;
padding-left: 0px;
width: 252px;
padding-top: 0px;
}

.blocktop {
background: url(images/blocktop.gif) no-repeat top left;
margin-bottom: 20px;
padding: 5px;
padding-right: 25px;
padding-left: 0px;
padding-top: 0px;
width: 252px;
}
.block h2 {
padding-left: 15px;
padding-top: 5px;
margin-bottom: 10px;
}

.blockcontent {
padding-left: 10px;
}

.spacer {
clear: both;
}

.node img {
padding: 4px;
margin: 8px;
border: 1px solid #8BE16F;
}

.node {
margin-bottom: 15px;
}

/* tables */

table {font: 85% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;padding: 0; margin: 0; border-collapse: collapse; color: #333; background: #F3F5F7;}

table a {color: #3A4856; text-decoration: none; border-bottom: 1px solid #C6C8CB;}  

table a:visited {color: #777;}

table a:hover {color: #000;}  

table caption {text-align: left; text-transform: uppercase;  padding-bottom: 10px; font: 200% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;}

table thead th {background: #EAECEE; padding: 15px 10px; color: #000000; text-align: left; font-weight: normal;}

table tbody, table thead {border-left: 1px solid #EAECEE; border-right: 1px solid #EAECEE;}

table tbody {border-bottom: 1px solid #EAECEE;}
                      
table tbody td, table tbody th {padding: 10px; background: url("images/td_back.gif") repeat-x; text-align: left;}

table tbody tr {background: #F3F5F7;}

table tbody tr.odd {background: #F0F2F4;}

table tbody  tr:hover {background: #EAECEE; color: #111;}

table tfoot td, table tfoot th, table tfoot tr {text-align: left; font: 120%  "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif; text-transform: uppercase; background: #fff; padding: 10px;}



/* pager */

.pager {
background:transparent url(images/navigation-bg.gif) no-repeat scroll center center;
clear:both;
height:21px;
margin: 10px 0px 10px 0px;
}

/* Misc */

td.block {
background-image: none;
}

.form-submit {
background: #B6ED83;
border: #33CC33 1px solid;
}

.tabs li {
background-image: none;
}

#top {
  position: absolute;
  left: 0;
  top: 0;
}
.to-top {
  background: url(images/link-arrow-up.gif) no-repeat 0% 50%;
  padding-left: 20px;
}

.node_read_more {
  background: url(images/readmore.gif) no-repeat 0% 50%;
  padding-left: 20px;
}

.comment_add {
  background: url(images/addcomment.gif) no-repeat 0% 50%;
  padding-left: 20px;
}

.upload_attachments {
  background: url(images/uploadfile.gif) no-repeat 0% 50%;
  padding-left: 20px;
}

.terms a {
  background: url(images/termsicon.gif) no-repeat 0% 50%;
  padding-left: 20px;
}